<h1 mat-dialog-title>New Card</h1>
<div mat-dialog-content>
  <div class="container">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.cardTitle">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.cardDesc" ></textarea>
  </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="[data.cardTitle, data.cardDesc]" cdkFocusInitial>Ok</button>
</div>
